@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

.segmentacion1{
  display: flex;
  flex-direction: column;
  background-color: #f5e290c2;
  align-items: center;
  padding: 1%;
}
.segmentacion1 h1{
  color:black;
  font-weight: bold;
}
.segmentacion1 h2{
  color:black;
  font-weight: bold;
  font-style: oblique;
}

.container1 {
  display: flex;
  width: 90vw;
  background: #efd668c2;
  border-radius: 20px;
  box-shadow: 8px 6px 46px 0px rgba(0,0,0,0.69);
-webkit-box-shadow: 8px 6px 46px 0px rgba(0,0,0,0.69);
-moz-box-shadow: 8px 6px 46px 0px rgba(0,0,0,0.69);
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 72vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
  box-shadow: 8px 6px 46px 0px rgb(0 0 0 / 69%);
    -webkit-box-shadow: 6px 3px 5px 0px #0000003b;
}

.panel h3 {
  font-size: 31px;
  position: absolute;
  left: 37px;
  top: 135px;
  margin: 0;
  opacity: 0;
  background: #000000b0;
  border-radius: 10px;
  padding: 0.3%;
}

.panel p {
  font-size: 20px;
  position: absolute;
  bottom: 92px;
  left: 52px;
  margin: 0;
  opacity: 0;
  width: 56%;
  color: black;
  font-weight: bold;
  background: #ffffffa1;
  padding: 0.2%;
  border-radius: 20px;

}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active p {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container1 {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

.segmentacion{
  display: flex;
  flex-direction: column;
}


/* ///////////////////////////////////////////////////////////////////////////////////////

Day 2  */

:root {
  --line-border-fill: #139b0e;
  --line-border-empty: #383838;

}

/* * {
  box-sizing: border-box;
} */

.segmentacion2{
  display: flex;
  flex-direction: column;
  background-color: #000000;
  align-items: center;
  padding: 1%;
}

.segmentacion2 h1{
  color:white;
  font-weight: bold;
}
.segmentacion2 h2{
  color:#9d8686;;
  font-weight: bold;
}

.container2 {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #f9f8f8;
  /* color:#e2e2e2; */
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

.LogosProgress{
  height: 46px;
  width: auto;
}

/* <!-------------------- day 3 -------------------------------> */

.segmentacion3{
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #a5d7a0;
  align-items: center;
  padding: 1%;
  /* width: 1000px;
  height: 1000px; */
}
.segmentacion3 h1{
  color:green;
}
.container3 {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 94vw;
  min-height: 60vh;
  padding: 22px;
  border-radius: 20px;
  box-shadow: 12px 23px 32px 0px rgb(22 147 39 / 75%);
-webkit-box-shadow: 12px 23px 32px 0px rgb(22 147 39 / 75%);
-moz-box-shadow:12px 23px 32px 0px rgb(22 147 39 / 75%);
}

.container3.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: relative;
  left: -97px;
  top: -123px;
}

.circle3 {
  background-color: #ba76c2;
  height: 138px;
  width: 185px;
  border-radius: 50%;
  position: relative;
  left: -5.9%;
  transition: transform 0.5s linear;
  padding:9%;
}

.container3.show-nav .circle3 {
  transform: rotate(-70deg);
  /* position: absolute;
  left: -106px;
  top: -107px; */
}

.circle3 button {
  cursor: pointer;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #380d47;

}

.circle3 button:focus {
  outline: none;
}

.circle3 button#open {
  left: 64%;
  position: absolute;
  top: 18%;
}

.circle3 button#close {
  transform: rotate(90deg);
  transform-origin: top left;
  position: relative;
  left: 74%;
  top: 60%;
}

.container3.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: absolute;
  bottom: -1190px;
  left: 0;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #d25bf6;
  font-weight: bold;
}

.content3 img {
  max-width: 100%;
}

.content3 {
  max-width: 1000px;
  margin: 30px auto;
}

.content3 h1 {
  margin: 0;
}

.content3 small {
  color: #555;
  font-style: italic;
}

.content3 p {
  color: #333;
  line-height: 1.5;
}

.pegrito{
  height: 324px;
    padding-bottom: 4%;
    display: flex;
    margin-top: -26%;
    align-items: center;
    margin-left: 28%;
}